<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 Nimbly Games, LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration status="TRACE">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="SteamSdk">
			<FileName>logs/SteamSdk.log</FileName>
			<FilePattern>logs/SteamSdk.log.%i
			</FilePattern>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="4 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		<RollingFile name="SteamSdkError">
			<FileName>logs/SteamSdkError.log
			</FileName>
			<FilePattern>logs/SteamSdkError.log.%i
			</FilePattern>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="4 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" />
			<AppenderRef ref="SteamSdk" />
			<AppenderRef ref="SteamSdkError" level="error" />
		</Root>
	</Loggers>
</Configuration>
