<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 Nimbly Games, LLC all rights reserved
  -->

<!DOCTYPE log4j:configuration SYSTEM "../../../EmCommon/lib/log/log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- print to stdout -->
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p [%d{ISO8601}] [%t] [%c]: %m%n"/>
    </layout>
  </appender>
  <root>
    <priority value="trace"></priority>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</log4j:configuration>
